/*====================[HelveticaNeue]====================*/
@font-face{
  font-family:'Helvetica Neue Bold';
  src:url('../fonts/Helvetica Neue/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Helvetica Neue Regular';
  src:url('../fonts/Helvetica Neue/HelveticaNeue.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Helvetica Neue Medium';
  src:url('../fonts/Helvetica Neue/HelveticaNeueMedium.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/*====================[Oswald]====================*/
@font-face{
  font-family:'Oswald SemiBold';
  src:url('../fonts/Oswald/Oswald-SemiBold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/*====================[OpenSans]====================*/
@font-face{
  font-family:'OpenSans-Bold';
  src:url('../fonts/Open Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'OpenSans-Regular';
  src:url('../fonts/Open Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}